dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.cabal

*.aux
*.log
*.out
*.snm
*.toc
*.vrb
*.nav
*.synctex.gz
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.ind
*.idx
*.ilg
*.bcf
*.run.xml
*.xdv